html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica;
}

/* CONTAINER */
.login {
  width: 100%;
  height: 100vh;
  min-width: 1280px;
  background-color: #003580;
  position: relative;
  overflow: hidden;
}

/* PANEL KANAN */
.group {
  position: absolute;
  top: 0;
  left: 640px;
  width: 640px;
  height: 100vh;
  display: flex;
}

.frame {
  width: 640px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.div {
  margin-top: 106px;
  width: 429px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.group-2 {
  width: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* TEKS */
.text-wrapper {
  width: 417px;
  font-size: 50px;
  font-weight: 600;
  color: #003580;
  margin-top: -40px;
  text-align: center;
}

.p {
  width: 427px;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

/* FORM CARD */
.frame-wrapper {
  width: 427px;
  display: flex;
  justify-content: center;
}

.group-wrapper {
  width: 427px;
  height: 310px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: inset 0 4px 4px #0000001a, 0 4px 4px #0000001a;
  display: flex;
  justify-content: center;
}

.group-3 {
  margin-top: 40px;
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* FORM */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-weight: 600;
  font-size: 14px;
}

.form-group input {
  height: 44px;
  padding: 0 12px;
  border-radius: 5px;
  border: 1px solid #b9b9b980;
  background-color: #0035800d;
}

/* BUTTON */
.login-button {
  width: 330px;
  height: 44px;
  background-color: #003580;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #002a66;
}

/* BAWAH */
.belum-memiliki-akun {
  font-size: 14px;
}

.text-wrapper-6 {
  font-weight: 600;
}

/* PANEL KIRI */
.robot {
  position: absolute;
  left: -95px;
  top: 300px;
  left: 0;
  width: 300px;
  height: 300px;
}

/* TEKS KIRI */
.text-wrapper-8 {
  position: absolute;
  top: 300px;
  left: 292px;
  width: 341px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}

.text-wrapper-9 {
  position: absolute;
  top: 450px;
  left: 292px;
  width: 341px;
  font-size: 16px;
  color: #ffffff;
}
